.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.card-paises {
  /* min-height: 800px; */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: dodgerblue;
  /* min-height: 10vh; */
  height: 8vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  font-size: calc(10px + 2vmin);
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.App-header > h1 {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.App-link {
  color: #61dafb;
}

.p-card {
  width: 1000px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
